
.leopard {
    margin: 40px;
}

* {
    background-color: aquamarine;
}

p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
    color: lightslategray;
    opacity: .6;
    padding: 40px;
}

h1 {
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
    color: grey;
    padding-left: 40px;
    border-bottom-style: double;
    border-bottom-width: 4px;
    border-bottom-color: grey;
}

a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
    color: lightslategray;
    padding-left: 40px;
}